body {
    background-color: rgb(44, 50, 74);
    font-family: sans-serif;
    color: white;
}

h1 {
    margin-top: 50px;
}

.webpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    height: 50px;
    width: 100px;
    margin: 4px;
    background-color: rgb(71, 80, 111);
    color: white;
    border-color: rgb(105, 110, 129);
    border-radius: 12px;
    border-style: solid;
    border-width: thin;
}

.game {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@font-face {
    font-family: "MyFont";
    src: url("DS-DIGIT.TTF") format("truetype");
    font-weight: 400;
}

.scoreboard {
    border-radius: 12px;
    background-color:rgb(53, 61, 89);
    display: flex;
    flex-direction: column;
    font-family: "MyFont";
    font-style: normal;
    font-size: 25px;
    height: 300px;
    width: 774px;
    text-align: center;
    border-color: rgb(105, 110, 129);
    border-style: solid;
    border-width: thin;
    margin-top: 6px;
}

.humanChoice {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 61, 89);
    margin: 6px;
    border-radius: 12px;
    border-color: rgb(105, 110, 129);
    border-style: solid;
    border-width: thin;
    font-family: "MyFont";
    font-style: normal;
}

.computerChoice {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 61, 89);
    margin: 6px;
    border-radius: 12px;
    border-color: rgb(105, 110, 129);
    border-style: solid;
    border-width: thin;
    font-family: "MyFont";
    font-style: normal;
}

.input {
    height: 300px;
    width: 250px;
    background-color: rgb(53, 61, 89);
    margin: 6px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(105, 110, 129);
    border-style: solid;
    border-width: thin;
    font-family: "MyFont";
    font-style: normal;
}

.score {
    font-size: 20px;
    margin-bottom: 30px;
}

img {
    width: 75%;
    height: 75%;
    object-fit: contain;
  }